In [1]:
# Exercise #1 
Filter out all of the empty strings from the list below
Output: ['Argentina', 'San Diego', 'Chicago', 'Barcelona']

In [19]:
places = ['', 'Argentina', ' ', 'San Diego', '', '    ', '', 'Chicago', 'Barcelona']
places = list(filter(None, str_list))
print(str_list)

['Argentina', 'San Diego', 'Chicago', 'Barcelona']

In [ ]:
# Exercise #2
Write an anonymous function that sorts this list by the last name...
Hint: Use the ".sort()" method and access the key"

In [16]:
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]
authors.sort(key=lambda name: name.split(" ")[-1].lower())
print (authors)

['Victor aNisimov', 'Andrew P. Garfield', 'David HassELHOFF', 'Connor Milliken', 'Oprah wInfrey']

In [17]:
# Exercise #3
Convert the list below from Celsius to Farhenheit, using the map function with a lambda...
Output: [('Nassau', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [8]:
C = [32, 12, 44, 29] 
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

[89.6, 53.6, 111.2, 84.2]

In [7]:
# F = 9/5*C+32
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

farenheit_places = list(map(lambda x:(x[0],9/5*x[1]+32,places))
farenheit_places

SyntaxError: invalid syntax (<ipython-input-7-efac19cbecf1>, line 5)